html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  position: relative;
}

/* Make the entire site narrower */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.content {
  padding-bottom: 110px;
}

.page-header a {
  color: #000;
  text-decoration: none;
}

.post {
  margin-bottom: 25px;
}
.page img,
.post img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}

div.pager {
  border-top: 1px solid #eee;
}

.footer {
  padding: 40px 0;
  width: 100%;
  color: #999;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}