---
layout: default
title: Home
---

{% for post in paginator.posts %}
  <div class="row post">
    <div class="col-md-12">
      <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
      <p><small class="text-muted">{{ post.date | date_to_string }}</small></p>
      {{ post.content | split: '<!--more-->' | first }}
      {% if post.content | split: '<!--more-->' | first != post.content %}
        <p><a href="{{ post.url }}">Continue reading &raquo;</a></p>
      {% endif %}
    </div>
  </div>
{% endfor %}

<!-- pagination -->
<div class="pager">
  <ul class="pager">
    {% if paginator.next_page %}
      <li class="previous"><a href="/page{{paginator.next_page}}">&larr; Older</a></li>
    {% else %}
      <li class="previous disabled"><a>&larr; Older</a></li>
    {% endif %}
    <li class="text-center"><a href="/archive">Archive</a></li>
    {% if paginator.previous_page %}
      {% if paginator.page == 2 %}
        <li class="next"><a href="/">Newer &rarr;</a></li>
      {% else %}
        <li class="next"><a href="/page{{paginator.previous_page}}">Newer &rarr;</a></li>
      {% endif %}
    {% else %}
      <li class="next disabled"><a>Newer &rarr;</a></li>
    {% endif %}
  </ul>
</div><!-- /pagination -->
