<!DOCTYPE html>
  <head>
    <title>
      {% if page.title == "Home" %}
        {{ site.title }} &middot; {{ site.tagline }}
      {% else %}
        {{ page.title }} &middot; {{ site.title }}
      {% endif%}
    </title>
  </head>
  <body>
    <div class="header">
      <a href="/">{{ site.title }}</a>
      <small>{{ site.tagline }}</small>
    </div>
    <div class="navbar">
      <h2>Navbar</h2>
        <a href="/">Home</a></br>
        <a href="/about">About</a></br>
        <a href="/employment">Employment</a></br>
        <a href="/resume">Resume</a></br>
        <a href="/contact">Contact</a></br>
    </div>
    <div class="content">
      {{ content }}
    </div>
    <div class="footer">
      <h1>Footer</h1>
      <h2>Recent Posts</h2>
      {% for post in site.posts limit:2 %}  
        <li>  
          <span>{{ post.date | date_to_string }}</span> &raquo;  
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>  
      {% endfor %}
      <a href="/archive">Archive</a>
      <p>&copy; <a href="{{ site.author.url }}">{{ site.author.name }}</a> 2014</p>
    </div>
  </body>
</html>
